<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="form_area">
        <form>

            <label>类别</label>
                <select>
                    <option>食堂费</option>
                    <option>买菜费</option>
                    <option>交通费</option>
                    <option>水果费</option>
                </select>
            <label>明细</label>
                <input type="text" value=""/>
            <label>所属人</label>
                <select>
                    <option>帅哥</option>
                    <option>美女</option>
                </select>
            <label>支付方式</label>
                <select>
                    <option>微信</option>
                    <option>花呗</option>
                    <option>6686</option>
                    <option>支付宝</option>
                </select>
<label>金额</label><input type="text"/>
<input type="button" value="新建">
        </form>
    </div>
</div>
<div></div>
</body>
</html>